.container {
    padding: 50px;
    display: flex;
    height:150vh;
  }
  
  .left {
    flex: 2;
  }
  
  .right {
    flex: 1;
  }
  
  .imgContainer {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .table {
    width: 100%;
    border-spacing: 20px;
  }
  
  .name {
    font-weight: 700;
    color: #d1411e;
    
    font-size: 18px;
  }

 
  .price,.quantity{
    font-weight: 500;
    font-family: "Poppins",sans-serif;
  }

  .total {
    font-weight: 500;
    font-size: 18px;
  }

  .extras{
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
  }
  
  .wrapper {
    width: 90%;
    max-height: 400px;
    background-color: #333;
    padding: 40px;
    font-size: 20px;
    border-radius: 5%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(216, 216, 216);
    display: flex;
  }
  
  .totalTextTitle {
    margin-right: 10px;
   
  }

  .totalText{

      margin-bottom: 14px;
  }

  
  .button {
    height: 30px;
    color: #d1411e;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius:5%;
    font-size: large;
  }

  .CashButton{
     
    height: 30px;
    background-color: #d1411e;
    color:white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    font-size: large;
  }
  

   .nocart{
     border: 1px solid red;
     height: 60vh;
     padding:2rem;
   }

  .cartText{
    font-size:3.5rem;
    color: rgb(95, 94, 94);
    opacity:1;
  }


  @media screen and (max-width: 700px) {

    .container {
      flex-direction: column;
      padding: 20px;
    }
  }



  @media screen and (max-width: 480px) {
    .container {
      flex-direction: column;
      padding: 20px;
      height: 200vh;
    }
  
    .table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .trTitle{
      display: none;
    }
  
    .tr{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  
    .imgContainer{
      width: 35vw;
      height: 35vw;
    }
  
    .name,.total{
      font-size: 24px;
    }
  
    .extras,.price,.quantity{
      font-size: 22px;
    }
  
    .price::before{
      content: "Price: ";
      font-weight: 500;
    }
    .quantity::before{
      content: "Quantity: ";
      font-weight: 500;
    }
    .total::before{
      content: "Total: ";
      font-weight: 500;
    }
  
    .wrapper{
      width: 100%;
    }
  }